// BUTTONS
// ====================================
button, .btn {
  appearance: none;
  background: 0;
  outline: 0;
  border: 0; // just add to non-send btns?
  padding: 0;
  text-decoration: none;
  display: inline-block;
  transition: color .25s ease-in-out;

  &:not(.send-btn) {
    font-size: $fs-medium;
    padding-bottom: 1px;
    background-image: linear-gradient(transparent calc(100% - 3px), $r-fyi-blue calc(100% - 3px));
  }

  .disabled & {
    color: tint($r-fyi-ink, 40);
    background-image: linear-gradient(transparent calc(100% - 3px), tint($r-fyi-ink, 40) calc(100% - 3px));
    pointer-events: none;
  }

  &:hover {
    color: $r-fyi-blue-hover;

    &:not(.send-btn) {
      background-image: linear-gradient(transparent calc(100% - 3px), $r-fyi-blue-hover calc(100% - 3px));
    }
  }

  &:active {

  }

  &:focus {

  }
}

.btn-group-container {

}

.btn-group-list {

}

.btn-group-item {
  @include clearfix;

  border-top: 1px solid $r-fyi-blue;
  padding: 0 20px;
  cursor: pointer;

  .btn {
    padding-top: 16px;
  }

  .icon-small {
    margin: 10px 0;
  }

  .icon-small:first-child {
    float: left;
    margin-right: 10px;
  }

  .icon-small:last-child {
    float: right;
  }

  &:hover .btn {
    color: $r-fyi-blue-hover;

    &:not(.send-btn) {
      background-image: linear-gradient(transparent calc(100% - 3px), $r-fyi-blue-hover calc(100% - 3px));
    }
  }
}

.send-buttons-container {
  width: 100%;
  padding: 0 20px;
}

.send-btn {
  font-size: $fs-large;
  border: 3px solid $r-fyi-blue;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0 12px;
  transition: color .25s ease-in-out, border-color .25s ease-in-out;

  &:first-child {
    margin-bottom: 18px;
  }

  &:hover {
    border: 3px solid $r-fyi-blue-hover;
  }
}
