button,
.btn {
  appearance: none;
  background: 0;
  outline: 0;
  border: 0;
  padding: 0;
  text-decoration: none;
  display: inline-block;
  color: $brand-primary;
  font-weight: $font-bold;
  transition: .25s ease-in-out;
  font-size: $gamma;

  &:hover {
    color: $brand-primary-dark;
  }
}

.btn-line {
  border-bottom: 2px solid;
}

.btn-block {
  margin: 10px auto;
  padding: 6px 50px 10px;
  border: 3px solid;
  display: table;
  text-align: center;

  &:hover {
    border-color: $brand-primary;
    background-color: $brand-primary;
    color: white;
  }
}

.btn-large {
  display: block;
  font-size: $beta;
  padding: 10px 20px 14px;
  margin: 20px 0;
}

/* Button Lists */
.btn-group-list {
  .btn-group-item {
    &:hover .btn {
      color: $brand-primary-dark;
    }
  }
}

.btn-group-list.disabled {
  .btn-group-item {
    pointer-events: none;

    .btn,
    button {
      color: color(#151A29 tint(40%));
      cursor: default;
    }
  }
}

.btn-group-item {
  @mixin clearfix;
  border-top: 1px solid $brand-primary;
  padding: 0 20px;
  cursor: pointer;

  .icon-small {
    margin: 10px 0;

    &:first-child {
      float: left;
      margin-right: 10px;
    }

    &:last-child {
      float: right;
    }
  }

  .btn {
    padding-top: 16px;
  }
}
