button,
.btn {
  appearance: none;
  background: 0;
  outline: 0;
  border: 0;
  padding: 0;
  text-decoration: none;
  display: inline-block;
  color: $brand-primary;
  font-weight: $font-bold;
  transition: .25s ease-in-out;
  font-size: $gamma;

  &:hover {
    color: $brand-primary-dark;
  }
}

.btn-line {
  border-bottom: 3px solid;
}

.btn-block {
  border: 3px solid $brand-primary;
  color: $brand-primary;
  background: none;
  cursor: pointer;
  padding: 14px 80px;
  display: inline-block;
  margin: 10px 30px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

}

/* Button 1c */
.btn-block:after {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: $brand-primary;
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-block:hover,
.btn-block:active {
  color: white;
}

.btn-block:hover:after,
.btn-block:active:after {
  width: 100%;
}

.btn-large {
  display: block;
  font-size: $beta;
  padding: 10px 20px 14px;
  margin: 20px 0;
}
