.app-header-container {
  border-bottom: 1px solid $brand-primary;
}

.app-header-logo {
  padding: 12px 0 14px;

  a {
    background: url('../images/logo1.svg') no-repeat;
    width: 160px;
    height: 58px;
    display: block;
    margin: 0 auto;
  }
}
