// MESSAGE
// ====================================
.message-container {
  font-size: $fs-medium;
  font-weight: 900;
  padding: 10px 20px;

  span {
    display: inline-block;
    margin-right: 3px;
  }

  .btn {
    margin-right: 4px;
    margin-left: 1px;
  }
}
