// VARS
// ====================================
$paper: white;

// colors
$r-fyi-blue: #1168F3;
$r-fyi-blue-hover: shade($r-fyi-blue, 50);
$r-fyi-ink: #151A29;

// font sizes
$fs-small: 14px;
$fs-medium: 20px;
$fs-large: 24px;
$fs-extra-large: 30px;