// MIXINS
// ====================================
// @include clearfix;
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// color: tint(red, 50);
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

// color: shade(red, 50);
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}