@import "./vendor/normalize.css";

// MIXINS
// ====================================
// @include clearfix;
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// color: tint(red, 50);
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

// color: shade(red, 50);
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// VARS
// ====================================
$paper: white;

// colors
$r-fyi-blue: #1168F3;
$r-fyi-ink: #151A29;

// font sizes
$fs-small: 14px;
$fs-medium: 20px;
$fs-large: 24px;
$fs-extra-large: 30px;


// TYPE
// ====================================
html,
body {
  background-color: $paper;
  color: $r-fyi-ink;
  font-family: "acumin-pro",sans-serif;
  font-weight: 400;
  font-size: $fs-small;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  font-size: $fs-medium;
}

h1, h2, h3, h4, h5, h6,
strong, b, button, .btn {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6,
a, button, .btn {
  color: $r-fyi-blue;
}

p {
  padding: 0 40px;
}


// LAYOUT
// ====================================
*,
*::before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

ul {
  padding: 0;
  list-style: none;
}

.app-container {
  margin: 0 auto;
  max-width: 500px;
}

.bottom-container {
  position: fixed;
  bottom: -14px;
}

// BUTTONS
// ====================================
button, .btn {
  appearance: none;
  background: 0;
  outline: 0;
  border: 0; // just add to non-send btns?
  padding: 0;

  &:not(.send-btn) {
    font-size: $fs-medium;
    padding-bottom: 1px;
    background-image: linear-gradient(transparent calc(100% - 3px), $r-fyi-blue calc(100% - 3px));
  }

  &:hover {

  }

  &:active {

  }

  &:focus {

  }
}

.btn-group-container {

}

.btn-group-list {

}

.btn-group-item {
  @include clearfix;

  border-top: 1px solid $r-fyi-blue;
  padding: 0 20px;

  .btn {
    padding-top: 16px;
  }

  .icon-small {
    margin: 10px 0;
  }

  .icon-small:first-child {
    float: left;
    margin-right: 10px;
  }

  .icon-small:last-child {
    float: right;
  }
}

.send-btn {
  font-size: $fs-large;
  border: 3px solid $r-fyi-blue;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0 12px;

  &:first-child {
    margin-bottom: 18px;
  }
}


// ICONS
// ====================================
.icon-small,
.icon-large {
  display: inline-block;
}

.icon-small {
  width: 40px;
  height: 40px;
}

.icon-large {
  width: 120px;
  height: 120px;
}

.icon-location { background-image: url("../images/icon-large-location.svg"); }
.icon-train { background-image: url("../images/icon-large-train.svg"); }

.icon-agressive { background-image: url("../images/icon-small-agressive.svg"); }
.icon-broken { background-image: url("../images/icon-small-broken.svg"); }
.icon-chevron { background-image: url("../images/icon-small-chevron.svg"); }
.icon-clean { background-image: url("../images/icon-small-clean.svg"); }
.icon-crowd-empty { background-image: url("../images/icon-small-crowd-empty.svg"); }
.icon-crowd-ok { background-image: url("../images/icon-small-crowd-ok.svg"); }
.icon-crowded { background-image: url("../images/icon-small-crowded.svg"); }
.icon-dirty { background-image: url("../images/icon-small-dirty.svg"); }
.icon-friendly { background-image: url("../images/icon-small-friendly.svg"); }
.icon-litter { background-image: url("../images/icon-small-litter.svg"); }
.icon-no-tp { background-image: url("../images/icon-small-no-tp.svg"); }
.icon-search-2 { background-image: url("../images/icon-small-search-2.svg"); }
.icon-search { background-image: url("../images/icon-small-search.svg"); }
.icon-staff { background-image: url("../images/icon-small-staff.svg"); }
.icon-temp-cold { background-image: url("../images/icon-small-temp-cold.svg"); }
.icon-temp-hot { background-image: url("../images/icon-small-temp-hot.svg"); }
.icon-temp { background-image: url("../images/icon-small-temp.svg"); }
.icon-toilet { background-image: url("../images/icon-small-toilet.svg"); }
.icon-unfriendly { background-image: url("../images/icon-small-unfriendly.svg"); }
.icon-uninformative { background-image: url("../images/icon-small-uninformative.svg"); }

// HEADER
// ====================================
.app-header-container {
  border-bottom: 1px solid $r-fyi-blue;
}

.app-header-logo {
  font-size: $fs-extra-large;
  margin: 0;
  text-align: center;
  padding: 12px 0 14px;
}

// PROGRESS BAR
// ====================================
.progress-bar-container {
  margin: 20px 40px;
}

.progress-bar-list {
  @include clearfix;

  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 98%;
    background-color: $r-fyi-blue;
    height: 1px;
    top: 50%;
    margin-top: -1px;
  }
}

.progress-bar-dot {
  $dot-size: 21px;
  $dot-offset: 3px;

  border-radius: 50%;
  border: 1px solid $r-fyi-blue;
  background-color: $paper;
  width: $dot-size;
  height: $dot-size;
  float: left;
  position: relative;

  &:not(:first-child) {
    margin-left: calc(33.3333% - 28px);
  }

  &:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: $r-fyi-blue;
    width: $dot-size - $dot-offset * 2;
    height: $dot-size - $dot-offset * 2;
    top: 50%;
    left: 50%;
    margin: $dot-size / -2 + $dot-offset;
    transform: scale(0);
    transition: transform .25s;
  }
}

.progress-1 .progress-bar-dot:nth-child(1):before { transform: scale(1); }
.progress-2 .progress-bar-dot:nth-child(2):before { transform: scale(1); }
.progress-3 .progress-bar-dot:nth-child(3):before { transform: scale(1); }
.progress-4 .progress-bar-dot:nth-child(4):before { transform: scale(1); }

// MESSAGE
// ====================================
.message-container {
  font-size: $fs-medium;
  font-weight: 900;
  padding: 10px 40px;
}
