.select-complaint {
  @media screen and ( min-width: $bpoint-large) {
    .btn-group-item {
      width: 420px;
      position: absolute;
      bottom: 0;
      padding: 0 20px;
    }
  }

  .btn-group-item:hover {
    background-color: transparent;
  }
}
