.select-complaint {
  @media screen and ( min-width: $bpoint-medium) {
    .btn-large {
      display: inline-block;
      width: calc(50% - 10px);

      &:first-child {
        margin-right: 20px;
      }
    }
  }
}
